CodeExerciseCsvGloballogic
Codding exercise

STEPS TO RUN THIS PROJECT:  Create java project into eclipse 

 Please java file (CSVRead.java and RequiredList.java) inside package “com.globallogic.exercise” 
 Place CSV file at suitable path and filename do required changes inside RequiredList.java . String path ="C:\Users\Deepak\Desktop\Exercise"; String fileName="data.csv";]
 For Junit test :Create “Testfolder” 
package named “test”  place GetrequiredListTest.java 
 Add all dependences on build path like JRE and JUnit4  Run as java application 
 Requied list will appear at console of eclipse

Sample data (data.csv)

Year Month CompanyA CompanyB CompanyC CompanyN 1990 Jan 10 15 60 50 1990 Feb 20 20 20 50 1990 Mar 30 40 50 20 1990 April 10 10 10 100 1990 May 50 30 50 10 1990 Jun 15 25 35 45 2013 Sep 50 10 15 500
